// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
	border-top: 2px solid $text-color;
	padding-top: 1.5rem;
	padding-bottom: 3rem;
	margin-top: 2rem;
}