// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: -apple-system, Helvetica, Arial, sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: monospace !default;





/// Copy text color
/// @type Color
$text-color: black !default;

/// Main brand color
/// @type Color
$brand-color: #f1961c !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: #989898 !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 960px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 960px,
) !default;

$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;

$breakpoint-text: 470px;





/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
